body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  /* width: 100vw;
  height: 100vh; */
  background: url("./images/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #e1e6ec;

  height: 100%;
  color: #044083;
}

* {
  margin: 10px;
}

h1 {
  margin: 0;
  padding: 0;
}

/* .bodybg {
  min-height: 100%;
  min-width: 100vw;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
} */

.container {
}

h1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 97px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 36px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
}

h5 {
  font-size: 20px;
  margin-left: 0;
}

h6 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

p {
  font-size: 14px;
}

.line-class {
  line-height: 60px;
}

.line-class-80 {
  line-height: 80px;
}

.tb-gold {
  color: #c37c10;
}

.box1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.justify-logo {
  text-align: right;
}

table {
  font-size: 12px;
}

.title {
  text-align: left;
  background-color: #cae4f1;
  margin: 5px 0;
}

.statement-title {
  background-color: #cae4f1;
}

.table-head {
  text-align: left;
}

.table-head-text {
  color: #044083;
}

.body-flex {
  display: flex;
  align-items: flex-start;
  padding: 5px;
  margin-bottom: 10px;
}

.body-section {
  padding: 0 5px;
}

.border table,
th,
td {
  padding: 2px;
  border: 1px solid #044083;
  border-collapse: collapse;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 10px 0;
}

.download-box-1 {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.download-box-2 {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: left;
}

.download img {
  max-height: 40px;
  padding: 3px;
  max-width: 100px;
}

.centered-image {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.update-section {
  display: flex;
  justify-content: center;
}

/* .padding-50 {
  padding: 0 70px;
  margin: 0;
} */

.align-items {
  display: flex;
  align-items: center;
  margin: 0;
}
.phoneimage {
  display: none;
}
.mb30 {
  margin-bottom: 30px;
}

.justify-content {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  body {
    background: url("./images/Background\ Mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .body-flex {
    display: block;
    width: 100%;
  }
  .box2 img {
    width: 100%;
  }
  .box1 {
    display: block;
    width: 100%;
  }
  .box2 {
    width: 100%;
    display: none;
  }
  .container {
    max-width: 100%;
  }
  .footer-section p {
    font-size: 9px;
  }
  .line-class-80 {
    line-height: 40px;
  }
  .text-center {
    text-align: center;
  }
  .pin-image {
    width: 200px;
  }
  .padding-50 {
    font-family: Century Gothic;
    font-size: 13px;
    line-height: 10px;
  }
  .download {
    height: 40px;
    width: 110%;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  }
  .download-box-1 {
    width: 30%;
  }
  .download-box-2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: left;
  }
  .head-section {
    gap: 10%;
  }
  h1 {
    font-size: 35px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 15px;
  }
  .justify-logo {
    display: flex;
    justify-content: center;
  }
  .logo-image {
    width: 100px;
    margin-bottom: 5px;
  }
  .phoneimage {
    display: block;
  }
  p {
    font-size: 10px;
  }
  .padding-50 {
    padding: 0 20px;
  }
  span {
    font-size: 15px;
  }
  .tb-gold {
    font-family: Century Gothic;
    font-size: 28px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
  }
}
